---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout..astro";

const pageTitle = 'Learn Clean Code'
---

<BaseLayout pageTitle={pageTitle}>
  <p>Learn Clean Code</p>
</BaseLayout>
